nav {
      display: flex;
      padding: 2rem 0;
      background: #111;
}

nav section {
      width: 100%;
}

nav a {
      font-weight: 700;
      padding: 1rem 1.5rem;
      border-radius: 4px;
}

nav a:first-of-type {
      margin-left: -1.5rem;
}

nav a:hover {
      background: #222;
}