.item h2 {
      font-size: 2.5rem;
}

.item-excerpt {
      padding: 1.5rem 0;
      border-bottom: 1px solid #eee;
}

.item-excerpt:first-of-type {
      padding-top: 0;
}

.item-excerpt h2 {
      margin-top: 0;
      font-size: 1.5rem;
}

.itemDetail {
      margin: 1rem 0;
}

.itemDetailName {
      text-align: center;
}

a {
      color: #ea3546;
      text-decoration: none;
      font-size: 25px;
}

a:hover {
      color: #C61527;
}